body{
    margin: 0px;
}
.bannar {
    /* border: 1px solid red; */
    width: 780px;
    margin: auto;


    background-image: url("../image/bannar1.png");
    background-position-y: 14px;
    background-position-x: 330px;
    background-size: 600px;
    background-repeat: no-repeat;

}

.bannar .logo {
    /* border: 1px solid red; */
    width: 100px;

}

.bannar .nav_link {
    /* border: 1px solid black; */
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    margin-left: 50px;
    margin-top: 7px;


}

.bannar .nav_link li {
    display: inline-block;
    list-style-type: none;


}

.bannar .nav_link li a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    ;
    padding: 15px 20px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    transition-duration: .3s;
}

.bannar .nav_link li a:hover {
    color: brown;
}

.bannar_document {
    /* border: 1px solid black; */
    margin-top: 20px;
}

.bannar_document .left_part {
    /*     
    border: 1px solid red; */
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-top: 50px;

}

.bannar_document .left_part h5 {
    font-family: 'Miniver', cursive;
    font-weight: normal;
    font-size: 22px;
    margin: 0px
}

.bannar_document .left_part h1 {
    font-family: 'Miniver', cursive;
    font-weight: bold;
    font-size: 40px;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 20px;

}

.bannar_document .left_part h2 {
    font-family: 'Miniver', cursive;
    font-weight: normal;
    font-size: 28px;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 20px;

}

.bannar_document .left_part a {
    display: inline-block;
    border: 1px solid;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 7px;
    margin-top: 10px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 91%);
}

.bannar_document .right_part {
    /* border: 1px solid red; */
    display: inline-block;
    width: 45%;
    text-align: right;

}

.bannar_document .right_part img {
    display: inline-block;
    height: 480px;
    width: 345px;
    margin-left: 120px;
    margin: -40px;
}

.count {
    /* border: 1px solid ; */
    margin: 0px;
    padding: 0px;



}

.count .count_body {
    display: inline-block;
    /* border: 1px solid red; */
    padding: 15px 20px;
    font-family: sans-serif;
    padding: 15px 20px;
}

.count .count_body h4 {
    font-weight: bold;
    font-size: 22px;

    background: #F02929;
    background: linear-gradient(to right, #F02929 0%, #0D0B2E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.count .count_body p {
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.bannar2 {
    /* border: 1px solid red; */
    width: 780px;
    margin: auto;
    background-image: url("../image/bannar2.png");
    background-repeat: no-repeat;
    background-position-y: 32px;
    background-position-x: -180px;
    background-size: 600px;
}

.bannar2 .left_part {
    display: inline-block;
    /* border: 1px solid ; */
    width: 50%;

}

.bannar2 .left_part img {
    height: 600px;
}

.bannar2 .right_part {
    display: inline-block;
    /* border: 1px solid; */
    width: 48%;
    vertical-align: top;
    padding-top: 90px;
}

.bannar2 .right_part h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200px;


}

.bannar2 .right_part h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;

}

.bannar2 .right_part p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
    text-align: justify;
    margin-right: 10px;
}

.bannar2 .right_part a {
    border: 1px solid;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    ;
    padding: 15px 20px;
    font-size: 16px;
    color: black;
    margin-top: 10px;
    font-weight: bold;
    background: rgb(34, 193, 195);
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 91%);

}
.heading1{
    /* border: 1px solid ; */
    width: 780px;
    margin: auto;
    margin-top: 40px;
}

 .bannar3_heading{
    /* border: 1px solid ; */
    display: inline-block;
}
 .bannar3_heading h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 16px;
    margin: 0px;

}
 .bannar3_heading h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 40px;
    width: 60%;
    padding-bottom: 40px;
    margin: 0px;

}
.bannar3{
    /* border: 1px solid ; */
    width: 780px;
    margin: auto;
}

.bannar3 .bannar3_service{
    /* border: 1px solid red; */
    display: inline-block;
    width: 200px;
    vertical-align: top;
    padding: 0px 25px;
    text-align: center;
    margin-top: 60px;
}
.bannar3 .bannar3_service .bannar3_service_img{
    /* border: 1px solid red; */
    margin: auto;
    height: 100px;
    width: 100px;
}
.bannar3 .bannar3_service img 
{
    display: block;
    width: 100%;

    
}
.bannar3 .bannar3_service h2 
{
display: inline-block;
font-family: 'Oswald', sans-serif;
}
.bannar3 .bannar3_service p {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
}
.bannar3 .bannar3_service a{
    /* border: 1px solid; */
    padding: 10px 15px;
    background: #B35B0E;
    background: linear-gradient(to right, #B35B0E 0%, #9E2929 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;

}
.heading2{
    /* border: 1px solid; */
    width: 780px;
    margin: auto;
    padding: 50px 0px;

}
.heading2 h4{
     font-family: 'Times New Roman', Times, serif;
     text-transform: uppercase;
     color: #0D0B2E;
     margin: 0px;
    
}
.heading2 h1{
   
    font-family: 'Oswald', sans-serif;
    width: 50%;
    font-size: 44px;
    margin: 0px;
    
}
.bannar4
{
    /* border: 1px solid red; */
    width: 780px;
    margin: auto;
    padding: 20px 0px;
}
.bannar4 .bannar4_blog{
    /* border: 1px solid red; */
    width: 230px;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}

.bannar4 .bannar4_blog .img{
    /* border: 1px solid gray; */
    box-sizing: border-box;
    margin: auto;
    height: 150px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.bannar4 .bannar4_blog .img img{
    
    width: 100%;
}
.bannar4 .bannar4_blog .person_post{
    text-align: center;
   
}
.bannar4 .bannar4_blog .person_post h3{
    /* border: 1px solid ; */
    display: inline-block;
    /* padding-left: 3px; */
    font-size: 15px;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: normal;
}
.bannar4 .bannar4_blog .title h2{
    font-family: sans-serif;
    font-size:18px ;
    font-weight: 600px;
    text-align: center;

}
.bannar4 .bannar4_blog .title p{
    text-align: justify;
    font-family: sans-serif;
    padding: 0px 6px;
    color: #3f3f44;
}
.bannar4 .bannar4_blog .title .ancor{
    /* border: 1px solid red; */
    text-align: center;
    font-size: large;
    text-decoration: none;
    padding: 10px 0px;
}
.bannar4 .bannar4_blog .title .ancor a{
    text-decoration: none;
}
.company_logo{
    /* border: 1px solid ; */
    width: 780px;
    margin: auto;
    
}
.company_logo .logo{
  width: 130px;
    display: inline-block;
    padding: 30px 30px;
}
.company_logo img{
    /* border: 1px solid; */
    width: 100%;
   
}
.footer{
    /* border: 1px solid; */
    background-color: black;
    justify-content: center;
    padding: 10px 0px;
}
.footer .footer_logo{
    /* border: 1px solid; */
    text-align: center;
}
.footer .footer_link{
    border: 1px solid;
    text-align: center;
    list-style-type: none;
}
.footer .footer_link li{
    display: inline-block;
    padding: 10px 15px;
    text-transform: capitalize;
    color: aliceblue;font-family: sans-serif;



}
.footer h5{
    text-align: center;
    color: antiquewhite;
    font-family: sans-serif;
    font-weight: normal;
}
.footer h5 span{
    background: #B35B0E;
    background: linear-gradient(to right, #B35B0E 0%, #9E2929 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
